{% extends 'layout.html' %}
{% block content%}
<h1>Happy blogging!! ;)</h1>
<br>
<div class="w3-content w3-section" style="max-width:2500px">
  <img class="mySlides" src=".\static\blog2.jpg" style="width:100%" height="450px" width="550px">
  <img class="mySlides" src=".\static\dont-be-afraid-to-share-ideas.png" style="width:100%" height="450px" width="550px">
</div>
<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
{% endblock %}